##### Q1. How do you comment code in Python? What are the different types of comments?

Ans: In Python we have Single-line comment and Multi-line comment. We can use # to comment a single line of code. In case of Multi line comments we can either use three single quotes or double quotes at the beginning and ending of the statements.

In [3]:
#Hi Everyone. My name is Ramya Prasad. ----> Single-line comment

In [5]:
'''Hi Everyone!
My name is Ramya Prasad. 
I'm currently living in Bengaluru.'''   #Multi-line comment

"Hi Everyone!\nMy name is Ramya Prasad. \nI'm currently living in Bengaluru."

In [6]:
"""Hi Everyone!
My name is Ramya Prasad. 
I'm currently living in Bengaluru."""  #Multi-line comment

"Hi Everyone!\nMy name is Ramya Prasad. \nI'm currently living in Bengaluru."

##### Q2. What are variables in Python? How do you declare and assign values to variables?

Ans: A variable is a memory location or contatiner to store a value/data. We can use Assign operator "=" to create a variable. 

Variables cannot contain special characters such as @,#,$,%,&,etc.
Variable can only use Underscore as special character.
Variables cannot begin with numbers.
Variables can be alpha numerical except at the starting of variable. 
Variable name should not be a Python keyword.

In [28]:
_R = 15

In [14]:
@R = 20

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (3727429142.py, line 1)

In [15]:
15R = 1998

SyntaxError: invalid decimal literal (2238907050.py, line 1)

In [16]:
R_P = 1503

In [39]:
RP_1_AK = 23

In [40]:
RP09 = "AKJ"

##### Q3. How do you convert one data type to another in Python?

In [ ]:
Ans: We can convert one datatype to another using Typecasting method.

In [29]:
a = "Data Science"

In [36]:
type(bool(a))

bool

In [37]:
b = 100

In [38]:
type(str(b))

str

In [41]:
c=True

In [42]:
type(c)

bool

In [43]:
type(str(c))

str

##### Q4. How do you write and execute a Python script from the command line?

Ans: If we have a python file saved as Ramya.py
Then in the console we need to type the below code to execute it. 
Command ---> python Ramya.py

##### Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [44]:
my_list=[1,2,3,4,5]

In [45]:
my_list[1:3]

[2, 3]

##### Q6. What is a complex number in mathematics, and how is it represented in Python?

Ans: Complex number consists of real and imaginary parts. It is represented in below format:
x+yi
a-bj
b+ai
s-rj

Here, x and y are real numbers. 
i/j is used to represent complex number.

In [50]:
complex_num1 = 5+7j
complex_num2= 10-15j

print("The data type of",complex_num1,"is",type(complex_num1))
print("The data type of",complex_num2,"is",type(complex_num2))

The data type of (5+7j) is <class 'complex'>
The data type of (10-15j) is <class 'complex'>

In [53]:
print(f"The data type of {complex_num1} is",type(complex_num1)) #using f method to print
print(f"The data type of {complex_num2} is",type(complex_num2))

The data type of (5+7j) is <class 'complex'>
The data type of (10-15j) is <class 'complex'>

##### Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [56]:
age = 25
type(age)

int

##### Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable belong to?

In [57]:
price=9.99
type(price)

float

##### Q9. Create a variable named name and assign your full name to it as a string. How would you print the value of this variable?

In [58]:
name = "Ramya Prasad P"
print(name)

Ramya Prasad P

In [60]:
print("The date stored in the variable name is",name)

The date stored in the variable name is Ramya Prasad P

##### Q10. Given the string "Hello, World!", extract the substring "World".

In [61]:
string = "Hello, World!"

In [66]:
string[-6:-1:1]

'World'

In [69]:
string[7:12]

'World'

##### Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are currently a student or not.

In [72]:
is_student = True
type(is_student)

bool