Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
#(i) string
a='Ramya'

In [2]:
type(a)

str

In [3]:
#(ii) list
b=[2,5,9,34.55,"Ramya","pwskills",True,6+8j]

In [4]:
type(b)

list

In [5]:
#(iii) float
c=15.0999

In [6]:
type(c)

float

In [9]:
#(iv) tuple
d=("Ram","Siya","Jay")

In [10]:
type(d)

tuple

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

What will be the data type of the above given variable.

In [11]:
#(i)
var1=' '

In [12]:
type(var1)

str

In [13]:
#(ii)
var2='[DS,ML,Python,]'

In [14]:
type(var2)

str

In [16]:
#(iii)
var3 = ['DS','ML' ,'Python']

In [17]:
type(var3)

list

In [18]:
#(iv)
var4=1.

In [19]:
type(var4)

float

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [20]:
#Arthmetic function - / it gives the quotient with decimal values.
20/10

2.0

In [21]:
#Arthmetic function - % it gives the reminder.
30%10

0

In [22]:
#Arthmetic function - // it gives the quotient without decimal places. Only floor value
24//3

8

In [23]:
#Arthmetic function - ** it gives the power of a value. 3 to the power 3 is 27
3**3

27

##### Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [ ]:
l=[2,4,6,8,15.99,3.756,"Ramya","PWSkills",True,4+8j]

In [45]:
type(l)

list

In [29]:
for i in l:
    print('The datatype of',i,'is',type(i))

The datatype of 2 is <class 'int'>
The datatype of 4 is <class 'int'>
The datatype of 6 is <class 'int'>
The datatype of 8 is <class 'int'>
The datatype of 15.99 is <class 'float'>
The datatype of 3.756 is <class 'float'>
The datatype of Ramya is <class 'str'>
The datatype of PWSkills is <class 'str'>
The datatype of True is <class 'bool'>
The datatype of (4+8j) is <class 'complex'>

##### Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [3]:
a = int(input())  # 100
b = int(input())  # 20

while a%b == 0:
    c=a/b
    print("The A and B are purely divisble by",c,"times.")
    break

 100
 20

The A and B are purely divisble by 5.0 times.

##### Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [31]:
r = range(25)

In [32]:
r

range(0, 25)

In [33]:
for i in r :
    if i%3 == 0 :
        print(i)
    else : 
        print(i,"is not divisible by 3")

0
1 is not divisible by 3
2 is not divisible by 3
3
4 is not divisible by 3
5 is not divisible by 3
6
7 is not divisible by 3
8 is not divisible by 3
9
10 is not divisible by 3
11 is not divisible by 3
12
13 is not divisible by 3
14 is not divisible by 3
15
16 is not divisible by 3
17 is not divisible by 3
18
19 is not divisible by 3
20 is not divisible by 3
21
22 is not divisible by 3
23 is not divisible by 3
24

##### Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

In [37]:
l1=[2,5,10,7.777,"RP","AK",False,2+5j]

In [39]:
l1[2]='Pwskills'

In [41]:
#Mutability is the ability to change or replace the value of an index in variable.
l1

[2, 5, 'Pwskills', 7.777, 'RP', 'AK', False, (2+5j)]

In [42]:
l2="Ramya Prasad"

In [44]:
l2[3]='v'

TypeError: 'str' object does not support item assignment

##### Immutability is when we do not have the ability to rchange or replace the value of an index in a variable. 

##### For example: String datatype is immutable whereas list is mutable.